body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1.display-4 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}


strong {
  font-weight: 600;
}

html {
  font-family: Open Sans, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.portfolio-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.portfolio-block.call-to-action {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width:768px) {
  .portfolio-block {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

 .fixed-top {  
	 transition:color 200ms linear; 
	 transition:background-color 300ms linear; 
 } 

.fixed-top.scrolled {
  background-color: white;
  opacity: 0.95;
  transition: background-color 300ms linear;
  transition: opacity 300ms linear;
}

.fixed-top.scrolled .nav-link, .fixed-top.scrolled.navbar-dark .navbar-nav .nav-link.active,.fixed-top.scrolled.navbar-dark .navbar-brand {
  color: #555; /* Black */
  transition: color 200ms linear;
}

.navbar-nav > li {
  float: left;
  position: relative;
}

.navbar-dark .navbar-nav .active a::after {
  border-bottom: 5px solid #5bc0eb;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.card-img-top {
	border-radius: 7px;
}

.typed-cursor {
    /*color: #66ff66;*/
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.portfolio-block.projects-cards h6 {
  font-weight: 400;
}

.avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
}

@media (min-width: 1200px)
.container {
    max-width: 1215px;
}




